body{
	border: 8px solid grey;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 1%;
	padding-top: 2%;
}
p{
	font-family: 'McLaren', cursive;
}
.blue{
	color: darkblue;
}
.border{
	border-left: 4px solid grey;
	padding-left: 8px;
}
#bottomborder{
	border-top: 0.5px solid lightgrey;
}